# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
# MCP Files
# =========================
.classpath
.gradle/2.0/taskArtifacts/cache.properties
.gradle/2.0/taskArtifacts/cache.properties.lock
*.bin
.gradle/gradle.log
.project
.settings/org.eclipse.jdt.core.prefs
CREDITS-fml.txt
*.location
eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/0.tree
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
*.prefs
eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Client.launch
*.launch
eclipse/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
*.jar
forge-1.8-11.14.0.1299-changelog.txt
README.txt
MinecraftForge-License.txt
MinecraftForge-Credits.txt
gradlew
gradle/wrapper/gradle-wrapper.properties
*.bat
LICENSE-fml.txt
forge-1.7.10-10.13.2.1230-changelog.txt
bin/*
eclipse/*